

.navDropdown {
    float: right;
}


.logoImg {
    max-width: 200px;
}

.targetDropMenu {
    float: center;
}

hr {
    margin-top: -5px;
    border-width: 3px;
    background-color: black;
    
}


